body{
    font-family: Calibri;
    background: linear-gradient(to right,#edf2fb ,#219ebc );
}
/*--------Section1--------*/
header nav{
    text-align: center;
    margin: 0.6rem 0 0 0;
}
a{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: #3a0ca3;
}
a:hover{
    padding: 1rem;
}

.nav_bar{
    background: linear-gradient(to right,#ccdbfd ,#4361ee );
    position: fixed;
    width: 100%;
}
.nav_style{
    padding: 0 0 1rem 0;
}

/*--------Section2--------*/
h1{
    font-size: 50px;
    margin: 0 0 0 5rem;
    display: inline-block;
}
.section2{
    padding: 3em 0 0 0;
    display: inline-block;
    width: 100%;
    color: #6930c3;
    margin: 1rem 0;
}
.section2 p{
    font-size: 20px;
    padding: 0 15rem 0 24rem;
}
.section2 p{
    color: #312244;
}

.float_left{
    float: left;
}
.profile_ken{
    border: 2px solid #312244;
    background-color: #312244;
    border-radius: 5px;
    padding-left: 1rem;
}
/*--------ICONS--------*/
.social-icons{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 28rem;
    padding: 0.2rem;
    max-width: 40%;
    background: linear-gradient(to right,#d2b7e5 ,#76c893 );
}
.social-icons:hover{
    padding: 0.5rem;
}


/*--------Section3--------*/
h2,h3,h4{
    padding: 0;
    margin: 0.5rem 0 0 1rem ;
    font-size: x-large;
}
h2{
    color: #5a189a;
}
ul{
    margin: 0.5rem 0 0 5rem;
    font-size: 17px;
    color: #ffedd8;
    padding-bottom: 10px;
}

.section3{
    padding: 0 0 0 0;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    background-color: #b185db;
    margin: 1rem 0;
}
.section3 img{
    float: right;
    margin: 0 20rem 0 0;
    border-radius: 10px;
    border: 1px solid #f72585;
}

.section3 img::after{
    overflow: hidden;
}

/*--------Section4--------*/

.section4{
    padding: 0 0 0 0;
    margin: 1rem 0;
    border-radius:10px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(to bottom,#99e2b4 ,#c1fba4 );
}
h3{
    color: #724cf9;
    font-size: xx-large;
}
h4{
    font-size: 20px;
    padding-left: 1rem;
    color: #9381ff;
}

.border-around{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 1rem;
}

.flexbox{
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: space-around;
}
.flexbox p{
    color: #094074;
}
.media-style{
    font-size: x-large;
    padding: 1rem;
    color: #094074;
}

/*--------Section5--------*/
h5{
    font-size: larger;
    margin: 1rem;
    font-size: xx-large;
    color: #cddafd;
}
.section5{
    padding: 0;
    margin: 1rem 0;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(to right,#db222a ,#f9bec7 );
}

.slider {
    width: 60%;
    overflow: hidden;
    margin: 0 0 0 13rem;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.5s ease;
}
.images img{
    border-radius: 10px;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #4d194d;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
} 
#img4:checked ~ .m5 {
    margin-left: 0;

} 
/*--------Section6--------*/
.section6{
    padding: 0;
    margin: 1rem 0;
    border-radius:10px;
    display: inline-block;
    width: 100%;
    background-color: #a7c957;
}
h6{
    font-size: larger;
    margin: 1rem;
    font-size: xx-large;
    color: #1282a2;
}
.section6 input{
    border-radius: 5px;
    border: none;
}
textarea{
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
}
fieldset{
    border-radius: 10px;
    border: none;
    background-color: #43aa8b;
    margin: 0 1rem 1rem 1rem;
}
.text-box input{
    margin: 0.5rem;
    padding: 0.4rem;
}
button{
    border-radius: 6px;
    margin: 0.5rem;
}

/*--------Section7--------*/
.section7{
    padding: 0;
    margin: 1rem 0 2rem 0;
    display: inline-block;
    width: 100%;
}
footer{
    display: flex;
    justify-content: space-around;
}
footer img{
    width: 20px;
}
.section7 div{
    margin: 0.1rem 0 0 1rem;
}
.section7 img{
    padding: 1rem;
}
.section7 img:hover{
    padding: 1.5rem;
}